{% extends 'adminLayout.html' %} {% block head %}  {%endblock %} {% block content %}
<form action="" method="POST" class="col-lg-4 col-md-4">
  <div class="form-row">
    <p>Register New Customer </p>
      
      <div class="form-group col-lg-12">
        <input type="text" class="form-control" name="fullName" id="fullName" placeholder="Full Name" data-rule="fullName"
          data-msg="Please enter">
        <div class="validate"></div>
      </div>

      <div class="form-group col-lg-12">
        <input type="email" class="form-control" name="email" id="email" placeholder="email@Example.com"
          data-rule="custNmae" data-msg="Please enter">
        <div class="validate"></div>
      </div>

      <div class="form-group col-lg-12">
        <input type="password" class="form-control" name="password" id="password" placeholder="Password" data-rule="password"
          data-msg="Please enter">
        <div class="validate"></div>
      </div>
  </div>
    <div class="text-center col-lg-6"> <button type="submit">Submit</button></div>
  
</form>
<h1>{{error}}</h1>


{% endblock %}

