{% extends 'base.html' %} {% block head %} {% endblock %} {% block content %}

<form
  action=""
  method="POST"
  class="col-lg-8 col-md-4"
  style="min-height: 55vh;"
>
  <div class="row">
    {% if (error) %}
    <br />
    <h1 style="color: red;">Email wasn't find</h1>
    {% endif %}
  </div>
  <div class="form-row">
    <p>Enter email to search</p>
  </div>
  <div class="form-row">
    <div class="form-group col-lg-6">
      <input
        type="email"
        class="form-control"
        name="email"
        id="email"
        placeholder="email"
        data-rule="email"
        data-msg="Please enter a valid email"
      />
      <div class="validate"></div>
    </div>
  </div>
  <div class="text-center col-lg-6"><button type="submit">Submit</button></div>
  {% if route %}
  <div class="text-center col-lg-6" style="margin-top: 10%;">
    <button id="RFID">RFID code</button>
  </div>
  {% endif %}
</form>

<input id="myRoute" style="display: none;" type="text" value="{{route}}" />
{% endblock %} {% block script %}
<script>
  document.getElementById("RFID").addEventListener("click", function (e) {
    e.preventDefault();

    console.log("click");
    window.location.href = "{{url_for('video', route='addToClinck')}}";
  });
</script>
{% endblock %}
