{% extends 'base.html' %}

{% block head %} {% endblock %}




  {%block content%}
  
  <section id="features">
    <div class="container">

      <div class="row">

        <div class="col-lg-8 offset-lg-4">
          <div class="section-header wow fadeIn" data-wow-duration="1s">
            <h3 class="section-title">Rooms editing</h3>
            <span class="section-divider"></span>
          </div>
        </div>

        <div class="col-lg-4 col-md-5 features-img">
          <img src="assets/img/product-features.png" alt="" class="wow fadeInLeft">
        </div>

        <div class="col-lg-8 col-md-7 ">

          <div class="row">

<!-- ======= כפתורי פלוס ומינוס- כאשר לוחצים נוסף\נמחק תא  ======= -->

            <div class="col-lg-6 col-md-6 box wow fadeInRight">
              <h4 class="title">Add a cabin</h4>

                <button type="button" class="iconH" ><i class="ion-ios-plus-outline"></i></button>

              <p class="description"></p>
            </div>

            <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.1s">
              <h4 class="title">Delete a cabin</h4>

                <button type="button" class="iconH"><i class="ion-ios-minus-outline"></i></button>

              <p class="description"></p>
            </div>

            <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.2s">
              <h4 class="title">Add a Treatment room</h4>

               <button type="button" class="iconH"><i class="ion-ios-plus-outline"></i></button>

              <p class="description"></p>
            </div>

            <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.3s">
              <h4 class="title">Delete a Treatment room</h4>

               <button type="button" class="iconH"><i class="ion-ios-minus-outline"></i></button>

              <p class="description"> </p>
            </div>

          </div>

        </div>

      </div>

    </div>

  </section>
  
  {%endblock%}