{% extends 'base.html' %}

{% block head %} 

<style>


  table {
    font-family: arial, sans-serif;
    border: 1px solid #dddddd;
   
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width:10%;
    height:100px;
    
  }

    
  .datasize {
    border: 1px solid ;
    text-align: left;
    padding: 8px;
    width:30 px;
    height: 30 px;
 
    
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  


  
  
  
  </style>

{% endblock %} 

{% block content %}












    <table>
    



    
    <!--Waiting room-->



        <tr>

        <td> Waiting room </td>


        
            {% for pet in petWaiting %}

            <td class="item1"  ondrop="drop(event)" ondragover="allowDrop(event)">  <!-- להגביל למספר חיות בתא-->

             

                <div  draggable="true" ondragstart="drag(event)" id="{{pet.animal._name}}"  >
                    

                    <div data-toggle="tooltip" title="name: {{pet.animal._name}} type: {{pet.animal._type}} place: {{pet.place}}">
                        
                       

                        <img src="{{ url_for('static',filename='img/animals/tiger.png')}}" width="30"   height="40" 
                        draggable="true" ondragstart="drag(event)" id="{{pet.animal._name}}" />

                        {{pet.animal._name}} the {{pet.animal._type}}

                    

                  
            
                    </div>
       

                </div>

            </td>

            {% endfor %}

            {%for i in range(0, 5)%} 
            
            <td class="item1"  ondrop="drop(event)" ondragover="allowDrop(event)" width="100%"> <!-- להגביל למספר חיות בתא-->
            
               
               {{i+1}}  <!-- להכניס את מספר התא הפנוי-->
                
        
            </td>

            {%endfor%} 
        
             

    
    </tr>


    <!--Cages-->

        <tr>

            <td> Cages </td>

        
            

            {% for pet in petCage %}

            <td class="item1"  ondrop="drop(event)" ondragover="allowDrop(event)"> <!-- להגביל למספר חיות בתא-->

                <div   draggable="true" ondragstart="drag(event)" id="{{pet.animal._name}}"    >

                <div data-toggle="tooltip" title="name: {{pet.animal._name}}
                type: {{pet.animal._type}}
                place: {{pet.place}}">
            
                <img src="{{ url_for('static',filename='img/animals/tiger.png')}}" width="30"   height="40" 
                draggable="true" ondragstart="drag(event)" id="{{pet.animal._name}}" />
            
                {{pet.animal._name}} the {{pet.animal._type}}

                </div>
           
                </div>
            
            </td>
            
                {% endfor %} {% set index = session.get("no_cage") - petCage|length %} {%
                for index in range(session.get("no_cage")) %}
            
            <td class="item1"  ondrop="drop(event)" ondragover="allowDrop(event)" width="100%" > <!-- להגביל למספר חיות בתא-->

            {% if variable is defined %} <!-- להכניס: אם תא עם חיה-->
                
            {% else %}
               Empty
            {% endif %}
       
            </td>
            
            {% endfor %}

            
        
        </tr>

        <!--Operations rooms-->


        <tr>
        <td> Operations rooms </td>

        {% for pet in petOper %}

        <td class="item1"  ondrop="drop(event)" ondragover="allowDrop(event)"> <!-- להגביל למספר חיות בתא-->

            
        
            <div   draggable="true" ondragstart="drag(event)" id="{{pet.animal._name}}"  style="margin: 0; padding: 0;"  >

            <p data-toggle="tooltip" title="name: {{pet.animal._name}} type: {{pet.animal._type}} place: {{pet.place}}">
        
            <img src="{{ url_for('static',filename='img/animals/tiger.png')}}" width="30"   height="40" 
            draggable="true" ondragstart="drag(event)" id="{{pet.animal._name}}" />
        
            {{pet.animal._name}} the {{pet.animal._type}}

            </p>

            </div>
        
        </td>
        
            {% endfor %} {% set index = session.get("no_oper_room") - petOper|length %}
            {% for index in range(session.get("no_oper_room")) %}
        
            <td class="item1"  ondrop="drop(event)" ondragover="allowDrop(event)" width="100%"> <!-- להגביל למספר חיות בתא-->

                {% if variable is defined %} <!-- להכניס: אם תא עם חיה-->
                
                {% else %}
                   Empty
                {% endif %}
           
    
          </td>
        
        {% endfor %}

        
    
        </tr>


    <!--Temp Cages-->

        <tr>
        <td> Temp Cages </td>

        {% for pet in petTemp %}

        <td class="item1"  ondrop="drop(event)" ondragover="allowDrop(event)"> <!-- להגביל למספר חיות בתא-->
            
        
            <div   draggable="true" ondragstart="drag(event)" id="{{pet.animal._name}}"  style="margin: 0; padding: 0;"  >

            <p data-toggle="tooltip" title="name: {{pet.animal._name}} type: {{pet.animal._type}} place: {{pet.place}}">
        
            <img src="{{ url_for('static',filename='img/animals/tiger.png')}}" width="30"   height="40" 
            draggable="true" ondragstart="drag(event)" id="{{pet.animal._name}}" />
        
            {{pet.animal._name}} the {{pet.animal._type}} 

            </p>

            </div>
        
        </td>
        
            {% endfor %} {% set index = session.get("no_oper_room") - petOper|length %}
            {% for index in range(session.get("no_oper_room")) %}
        
        <td class="item1"  ondrop="drop(event)" ondragover="allowDrop(event)" width="100%"> <!-- להגביל למספר חיות בתא-->

            {% if variable is defined %}  <!-- להכניס: אם תא עם חיה-->
                
            {% else %}
               Empty
            {% endif %}
       
 
        </td>
        
        {% endfor %}

        
    
        </tr>

    <!--Completion-->

        <tr >
            <td> Completion </td>

            {% for pet in petTemp %}

            <td class="item1"  ondrop="drop(event)" ondragover="allowDrop(event)"> <!-- להגביל למספר חיות בתא-->

            

                <div   draggable="true" ondragstart="drag(event)" id="{{pet.animal._name}}"  style="margin: 0; padding: 0;"  >

                    <p data-toggle="tooltip" title="name: {{pet.animal._name}} type: {{pet.animal._type}} place: {{pet.place}}">

                    <img src="{{ url_for('static',filename='img/animals/tiger.png')}}" width="30"   height="30" 
                    draggable="true" ondragstart="drag(event)" id="{{pet.animal._name}}" />

                    {{pet.animal._name}} the {{pet.animal._type}} 

                    </p>

                </div>

            </td>

            {% endfor %}

            
            
            {%for i in range(0, 5)%} 
            
            <td class="item1"  ondrop="drop(event)" ondragover="allowDrop(event)" width="100%"> <!-- להגביל למספר חיות בתא-->
            
              
                    {{i+1}} <!-- להכניס את מספר התא הפנוי-->

            </td>

            {%endfor%} 


        

        </tr>




    </table>





{%endblock%}

