<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/home.css') }}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>

  <body>
    <header>
      <div class="logo"><h1>Logo</h1></div>
      <div class="navigation-main">
        <nav>
          <ul>
            {%- if session.get("admin") -%}
            <li>
              <a href="{{ url_for('vetAdmin') }}">Update Facilty</a>
            </li>
            {%- endif %}
            <li>
              <a href="{{ url_for('addpet') }}">Add Animal</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      {% block content %}{% endblock %}
    </main>

    {% block footer %}
    <h1>footer</h1>
    {% endblock %}
  </body>
</html>
