{% extends 'base.html' %} {% block head %} {% endblock %} {% block content %}
<form action="" method="POST" class="col-lg-4 col-md-4" style="min-height: 55vh;">
  <div class="form-row">
    <p>  Choose a pet you want assign to a treatment:   </p>
    <div class="form-group col-lg-12">
    <select name="petsId" id="petsId" class="form-control">
      {% for pet in cusromerPets %}
      <option value="{{ pet._id }}">{{ pet._type }} - {{ pet._name }}</option>
      {% endfor %}
    </select>
    </div>
    <br />
  </div>
  <button type="submit">Send</button>
</form>

{% endblock %}
